<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>月幕 MOON LIKE | online shop</title>
   <!-- Link Swiper's CSS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
  <%- include('./layout/head'); -%>
</head>
 <!-- Demo styles -->

<body>
  <%- include('./layout/header'); -%>

    <!-- 請刪除main中間資料之後開始開發 -->

    <main>
      <section class="section-article">   
        <div class="container-fluid my-4">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 mb-3 me-4">
              <!-- breadcrumb 修改間距,背景顏色-->
              <nav style="--bs-breadcrumb-divider: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item gray-500"><a class="gray-500" href="#">首頁</a></li>
                  <li class="breadcrumb-item gray-500"><a  class="gray-500" href="#">精選商品</a></li>
                  <li class="breadcrumb-item active"><a  class="gray-700" href="#">財富綠水晶</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>  

<!-- Swiper -->

<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
  <div class="swiper-wrapper" col-md-6>
    <div class="swiper-slide">
      <img src="../assets/images/Item-4-2.png" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/Item-4-3.png" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/Item-4-4.png" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/Item-4.png" />
    </div>   
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
<div thumbsSlider="" class="swiper mySwiper">
  <div class="swiper-wrapper" col-md-6>
    <div class="swiper-slide">
      <img src="../assets/images/Item-4-2.png" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/Item-4-3.png" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/Item-4-4.png" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/Item-4.png" />
    </div>
  </div>
</div> 

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 10,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesProgress: true,
  });
  var swiper2 = new Swiper(".mySwiper2", {
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiper,
    },
  });
</script>       








     
    </main>

    <!-- 以下資訊請注意保留 -->
    <%- include('./layout/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script type="module" src="../main.js"></script>

</body>

</html>